/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Global Reset */
/* line 18, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 23, ../sass/main.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 31, ../sass/main.scss */
body {
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #d5d4da;
  color: slategrey;
  font-family: 'Inconsolata', 'Courier New', monospaced;
  font-size: 16px;
  line-height: 1.6em;
}

/* line 41, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 44, ../sass/main.scss */
h1 {
  margin-bottom: 1em;
}

/* line 45, ../sass/main.scss */
p {
  margin: 1em 0.5em;
}

/* line 47, ../sass/main.scss */
a {
  color: #00a;
}

/* line 48, ../sass/main.scss */
a:hover {
  color: #000;
}

/* line 49, ../sass/main.scss */
a:visited {
  color: #a0a;
}

/* line 51, ../sass/main.scss */
table {
  width: 100%;
}
/* line 55, ../sass/main.scss */
table td {
  width: auto;
  padding: 0 0.2em;
  vertical-align: baseline;
}
/* line 60, ../sass/main.scss */
table tr:nth-child(even) {
  background: gainsboro;
}

/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/
/* line 81, ../sass/main.scss */
.menu {
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 1em;
}
/* line 86, ../sass/main.scss */
.menu ul {
  transition: max-height .25s linear;
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 92, ../sass/main.scss */
.menu li {
  transition: visibility .25s linear;
  display: inline-block;
  padding: .45em 1.1em;
  margin: 0 .3em;
}
/* line 100, ../sass/main.scss */
.menu li a {
  color: White;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8em;
}
/* line 105, ../sass/main.scss */
.menu li a:active, .menu li a:hover {
  color: black;
}

@media (max-width: 650px) {
  /* line 114, ../sass/main.scss */
  .menu {
    right: 0.5em !important;
    background-color: gainsboro;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    /* WebKit */
    -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    /* Firefox */
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    /* Standard */
    border-radius: 0 0 10px 10px;
  }
  /* line 121, ../sass/main.scss */
  .menu ul {
    max-height: 0;
    overflow: hidden;
    margin: 0 3.5em 0 1em;
    text-align: left;
  }
  /* line 128, ../sass/main.scss */
  .menu li {
    visibility: hidden;
    display: block;
    padding: 0.5em 0.6em;
    border: none;
  }
  /* line 135, ../sass/main.scss */
  .menu .navbar-handle {
    display: block;
  }

  /* line 142, ../sass/main.scss */
  #navbar-checkbox:checked + .menu ul {
    max-height: 300px;
  }
  /* line 146, ../sass/main.scss */
  #navbar-checkbox:checked + .menu li {
    visibility: visible;
  }
  /* line 150, ../sass/main.scss */
  #navbar-checkbox:checked + .menu .navbar-handle, #navbar-checkbox:checked + .menu .navbar-handle:after, #navbar-checkbox:checked + .menu .navbar-handle:before {
    border-color: #aaa;
  }

  /* line 155, ../sass/main.scss */
  .navbar-checkbox-container {
    display: block !important;
  }
}
/* line 160, ../sass/main.scss */
.navbar-checkbox {
  display: none;
}

/* line 163, ../sass/main.scss */
.navbar-checkbox-container {
  display: none;
  top: 0;
  right: 0.5em;
  position: fixed;
  z-index: 9998;
  background-color: gainsboro;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  /* WebKit */
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  /* Firefox */
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  /* Standard */
  border-radius: 0 0 10px 10px;
  width: 3.5em;
  height: 2.9em;
}

/* line 177, ../sass/main.scss */
.navbar-handle {
  display: none;
  cursor: pointer;
  position: relative;
  font-size: 45px;
  padding: .5em 0;
  height: 0;
  width: 1.66667em;
  border-top: 0.13333em solid;
}
/* line 189, ../sass/main.scss */
.navbar-handle:before, .navbar-handle:after {
  position: absolute;
  left: 0;
  right: 0;
  content: ' ';
  border-top: 0.13333em solid;
}
/* line 197, ../sass/main.scss */
.navbar-handle:before {
  top: 0.37778em;
}
/* line 201, ../sass/main.scss */
.navbar-handle:after {
  top: 0.88889em;
}

/* line 210, ../sass/main.scss */
.menu {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
}
/* line 216, ../sass/main.scss */
.menu .navbar-handle {
  position: absolute;
  font-size: 1.2em;
  top: 0.7em;
  right: 0.65em;
  z-index: 10;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 234, ../sass/main.scss */
.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 59em) {
  /* line 234, ../sass/main.scss */
  .page {
    max-width: 59em;
  }
}
/* line 236, ../sass/main.scss */
.page header {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 239, ../sass/main.scss */
.page footer {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 242, ../sass/main.scss */
.page article.lp-presenter {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 49em) {
  /* line 242, ../sass/main.scss */
  .page article.lp-presenter {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 250, ../sass/main.scss */
.page article.blog-first {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 253, ../sass/main.scss */
.page article.feature {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 256, ../sass/main.scss */
.page article.blog-posts {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 49em) {
  /* line 256, ../sass/main.scss */
  .page article.blog-posts {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 260, ../sass/main.scss */
.page article.shop {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (min-width: 49em) {
  /* line 260, ../sass/main.scss */
  .page article.shop {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}

/* line 266, ../sass/main.scss */
.page {
  position: relative;
}
/* line 268, ../sass/main.scss */
.page > * {
  margin-bottom: 1em;
}

/* line 273, ../sass/main.scss */
.card {
  background-color: ghostwhite;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  /* WebKit */
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  /* Firefox */
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  /* Standard */
  overflow: hidden;
}
/* line 280, ../sass/main.scss */
.card .card-head {
  background-color: black;
  width: 100%;
  height: 100px;
}
/* line 284, ../sass/main.scss */
.card .card-head h2 {
  color: ghostwhite;
  display: none;
}

/* line 291, ../sass/main.scss */
header {
  padding-bottom: 20px;
}
/* line 293, ../sass/main.scss */
header > img {
  display: block;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 20px auto;
  margin-bottom: -4%;
}

/* line 304, ../sass/main.scss */
article.feature iframe {
  margin-bottom: -8px;
}

/* line 313, ../sass/main.scss */
article.tour-dates {
  font-size: 0.8em;
  line-height: 1.8em;
}
/* line 321, ../sass/main.scss */
article.tour-dates .gig-city {
  color: black;
}

@media all and (min-width: 2000px) {
  /* line 341, ../sass/main.scss */
  body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
