<!DOCTYPE html>
<html>
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width">

            <!-- Google Web Fonts -->
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600|Inconsolata:400,700' rel='stylesheet' type='text/css'>

			<!-- syntax highlighting CSS -->
			<link rel="stylesheet" href="/css/syntax.css">

			<!-- Custom CSS -->
			<link rel="stylesheet" href="/css/main.css">

		</head>
		<body>
			<section class="page">
                <input id="search" type="text" style="width:100%; height:36px; margin: 10%;">
				<article class="card track-list">
                    <table id="trackTable">
                    
                    

                    {% assign tracks = site.data.tracks | sort: 'artist' %}
                    {% for track in tracks %}
                        <tr data-string="{{ track.artist }} {{ track.track }}">
                            <td >
                                <span>{{ track.show }}</span>
                            </td>
                            <td >
                                <span class="gig-city">{{ track.track }}</span>
                            </td>
                            <td >
                                <span class="gig-venue">{{ track.artist | mardonify }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>

                    
				</article>

				


				
			</section>
            <footer>
            </footer>
            <script TYPE="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    var tracksJq = $('#trackTable tr');

                    var tracks = new Array();
                    var trackList = new Array();

                    var id = 0;
                    tracksJq.each(function(){
                        $(this).data('id', id);
                        trackList.push($(this).data('string').toLowerCase());
                        tracks.push($(this));
                        ++id;
                    });
                    trackCount = id;

                    var updateInterval;
                    function update() {
                        clearInterval(updateInterval);
                        updateInterval = setInterval(function() {
                            var searchValue = $('#search').val().toLowerCase();

                            for(i = 0; i < trackCount; ++i) {
                                n = trackList[i].search(searchValue);
                                console.log(n);

                                if(n==-1) {
                                    tracks[i].hide();
                                }
                                else {
                                    tracks[i].show();
                                }
                            }

                            clearInterval(updateInterval);
                        }, 100);                
                    }
                    update();


                    // $('#form').find('textarea').change(update);
                    $('#search').on('change keyup copy paste cut delete', update);
                });
            </script>
		</body>
</html>
